
@{
    ViewBag.Title = "AuthorizeStudents";
}

<h2>Authorize Students</h2>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Authorize", "Authorize", null, new { @class = "btn btn-primary btn-block"})
    </div>
</div>