
@{
    ViewBag.Title = "AuthorizeElectives";
}

<h2>Authorize Electives</h2>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Authorize", "Authorize", null, new { @class = "btn btn-primary btn-block" })
    </div>
</div>